/*tags*/
body {margin: 0; font-family: verdana, serif; color: #033F54;}
h1, h2, h4{color: #036386;}
h3 {color: #B63607;}
a{color: #C93527;}
a:hover{color: red; text-decoration: none;}
td{vertical-align: top;}

/*classes*/
.topwrapper{background: rgb(214,240,253);
background: url("fea10beb3c2b29f44ee99d4c6aef0764c95475a4.svg");
background: -moz-linear-gradient(top,  rgba(214,240,253,1) 0%, rgba(255,255,255,1) 27%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,240,253,1)), color-stop(27%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(top,  rgba(214,240,253,1) 0%,rgba(255,255,255,1) 27%,rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top,  rgba(214,240,253,1) 0%,rgba(255,255,255,1) 27%,rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top,  rgba(214,240,253,1) 0%,rgba(255,255,255,1) 27%,rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom,  rgba(214,240,253,1) 0%,rgba(255,255,255,1) 27%,rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f0fd', endColorstr='#ffffff',GradientType=0 );
}
.head{width: 1000px; height: 92px; margin: 0 auto; padding: 0; position: relative;}
.head a {text-decoration: none;}
.head a:hover{color:red; text-decoration: none;}
.logo{font-size: x-large;  position: absolute; left: 0; top: 20px;}
.logo a, .phones a{color: #03414A;}
.logo2{font-size: large; letter-spacing: 3px; font-weight: bold;}
.phones {position: absolute; top:20px; right: 0; font-size: x-large;}
.phone {position: absolute; top:36px; right: 232px;}
.addr{position: absolute; left: 360px; top: 32px; text-align: center;}
.arrow{position: absolute; left: 460px; top: 22px;}
.atp {color: #033F54; font-size: large;}

.menu{width: 1000px; margin: 0 auto; padding: 0;}
.menu td{ 
background: rgb(225,255,255);
background: url("95f229a103385e462468b2ddafcbf179d41bad78.svg");
background: -moz-linear-gradient(top,  rgba(225,255,255,1) 0%, rgba(225,255,255,1) 0%, rgba(225,255,255,1) 0%, rgba(253,255,255,1) 1%, rgba(230,248,253,1) 30%, rgba(200,238,251,1) 54%, rgba(190,228,248,1) 75%, rgba(177,216,245,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,255,255,1)), color-stop(0%,rgba(225,255,255,1)), color-stop(0%,rgba(225,255,255,1)), color-stop(1%,rgba(253,255,255,1)), color-stop(30%,rgba(230,248,253,1)), color-stop(54%,rgba(200,238,251,1)), color-stop(75%,rgba(190,228,248,1)), color-stop(100%,rgba(177,216,245,1)));
background: -webkit-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 0%,rgba(225,255,255,1) 0%,rgba(253,255,255,1) 1%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%);
background: -o-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 0%,rgba(225,255,255,1) 0%,rgba(253,255,255,1) 1%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%);
background: -ms-linear-gradient(top,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 0%,rgba(225,255,255,1) 0%,rgba(253,255,255,1) 1%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%);
background: linear-gradient(to bottom,  rgba(225,255,255,1) 0%,rgba(225,255,255,1) 0%,rgba(225,255,255,1) 0%,rgba(253,255,255,1) 1%,rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 );
}
.menu a{text-decoration: none;}
.tmnu td:hover, #active {background: rgb(222,239,255);
background: url("aa86b1e5191aff2070b1b4d2724aafdb44042b2f.svg");
background: -moz-linear-gradient(top,  rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1)));
background: -webkit-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
background: -o-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
background: -ms-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
background: linear-gradient(to bottom,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );
}
.tmnu td{text-align: center; vertical-align:middle; padding: 4px 0; font-weight: bold; cursor: pointer;}
/*.tmnu td:hover a, .tmnu td a:hover, #active a {color: #F1FD0D;}*/

.bnya{width: 1000px; margin: 0 auto 6px auto; padding: 0;}
.ankors {width: 1000px; margin: 0 auto 24px auto; padding: 0; text-align: center; font-size: large;}
.ankors a {color: #03414A;}
.mainwrapper{background-color:#F6FBFE}
.text{width: 1000px; margin: 0 auto; padding: 24px 12px 48px 12px;}
.bottom{background: rgb(255,255,255);
background: url("bb14b33156f2379f0ca6ea190efd1fe46c3a6043.svg");
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(222,238,247,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(222,238,247,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(222,238,247,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(222,238,247,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(222,238,247,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(222,238,247,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#deeef7',GradientType=0 );

}
.bot{width: 1000px; margin: 0 auto; padding: 24px 0 120px 0; text-align: center; font-size: small;}
.bot a{color: #036386;}

.t0{width: 984px; margin: 0 auto;}

.t1 td{background: rgb(214,240,253);
background: url("ce36d7e3da676d610077bf48ef2acb543fde5818.svg");
background: -moz-linear-gradient(top,  rgba(214,240,253,1) 0%, rgba(242,249,254,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,240,253,1)), color-stop(100%,rgba(242,249,254,1)));
background: -webkit-linear-gradient(top,  rgba(214,240,253,1) 0%,rgba(242,249,254,1) 100%);
background: -o-linear-gradient(top,  rgba(214,240,253,1) 0%,rgba(242,249,254,1) 100%);
background: -ms-linear-gradient(top,  rgba(214,240,253,1) 0%,rgba(242,249,254,1) 100%);
background: linear-gradient(to bottom,  rgba(214,240,253,1) 0%,rgba(242,249,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6f0fd', endColorstr='#f2f9fe',GradientType=0 );
vertical-align: middle; 
}

.t2 td{
 background: rgb(255,255,255);
background: url("648688eb854cc663e87369e7c7560930f3955d59.svg");
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
vertical-align: middle;   
}

.back-top {
	position: fixed;
	bottom: 30px;
	left: 0px;
    padding: 4px;
    background: rgb(30,87,153);
    border: 1px solid #dc902f;
    border-radius: 0 8px 8px 0;
    font-size: x-small;
    font-weight: bold;
    background: rgb(252,255,244);
background: url("429cc99e2f9d9f01ad8155b20a54ba6322e20157.svg");
background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(233,233,206,1)));
background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%);
background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%);
background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%);
background: linear-gradient(to bottom,  rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 );
}
.back-top:hover{    
background: url("65dc536828cbc574e24dfb0ac553ef7ffdf6a6d1.svg");
background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1)));
background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );

}
.back-top a{color: #dc902f;}
.back-top a:hover, .back-top:hover a{color: white; text-decoration: none;}